# compiled output
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

.DS_Store

# Tests
/src/main.ts
/src/templates/
/templates/
/.vscode/
/.github/
*.js
*.sh
myscrpt.ts
